usr/libexec/gcc/x86_64-pc-linux-gnu/6.2.0/cc1 filter=lfs diff=lfs merge=lfs -text
usr/libexec/gcc/x86_64-pc-linux-gnu/6.2.0/cc1plus filter=lfs diff=lfs merge=lfs -text
usr/libexec/gcc/x86_64-pc-linux-gnu/6.2.0/lto1 filter=lfs diff=lfs merge=lfs -text
